* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
	margin: 10px auto;
	background-color: yellow;
	border: 10px solid brown;
	padding: 10px; 
}

.box {
	background-color: white;
	width: 70px;
	height: 70px;
	border: 2px solid black;
	border-radius: 50%; 
}
